body {
  background-color: aqua;
  color: rgb(35, 40, 40);
}

.navbar {
  background-color: aqua;
}

.titulo-de-página {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  color: blue;
  font-weight: bold;
}
